<!-- FOOTER -->
<footer id="contatos" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-sm-12">
        <div class="footer-thumb footer-info">
          <h2>HRTECH RECRUTA</h2>
          <p>Agora você sabe como fazer uma escolha consciente.</p>
        </div>
      </div>

      <div class="col-md-2 col-sm-4">
        <div class="footer-thumb">
          <h2>Empresa</h2>
          <ul class="footer-link">
            <li>
              <a href="#">Sobre nós</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="footer-thumb">
          <h2>Serviços</h2>
          <ul class="footer-link">
            <li>
              <a href="#">Profissionais</a>
            </li>
            <li>
              <a href="#">Usuários</a>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div class="footer-bottom">
          <div class="col-md-6 col-sm-5">
            <div class="copyright-text">
              <p>HRTech Recruta</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-7">
            <div class="phone-contact">
              <p>Telefone
                <span>(+55) 11-97155-7545</span>
              </p>
            </div>
            <ul class="social-icon">
              <li>
                <a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a>
              </li>
              <li>
                <a href="#" class="fa fa-twitter"></a>
              </li>
              <li>
                <a href="#" class="fa fa-instagram"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>