 <!-- FOOTER -->
 <footer id="contatos" data-stellar-background-ratio="0.5">
  <div class="container">
       <div class="row">

            <div class="col-md-5 col-sm-12">
                 <div class="footer-thumb footer-info"> 
                      <h2>Easy Health</h2>
                      <p>Nós te ajudamos a encontrar os melhores profissionais.</p>
                 </div>
            </div>

            <div class="col-md-2 col-sm-4"> 
                 <div class="footer-thumb"> 
                      <h2>Empresa</h2>
                      <ul class="footer-link">
                           <li><a href="#">Sobre nós</a></li>
                           <li><a href="#">Conheça a equipe</a></li>
                           <li><a href="#">Blog</a></li>
                      </ul>
                 </div>
            </div> -->

          <div class="col-md-2 col-sm-4"> 
                 <div class="footer-thumb"> 
                      <h2>Serviços</h2>
                      <ul class="footer-link">
                           <li><a href="#">Planos</a></li>
                           <li><a href="#">Legal</a></li>
                           <li><a href="#">Suporte</a></li>
                      </ul>
                 </div>
            </div>

            <div class="col-md-3 col-sm-4"> 
                 <div class="footer-thumb"> 
                      <h2>Onde estamos</h2>
                      <p>Avenida Paulista, 1720 <br> São Paulo - SP</p>
                 </div>
            </div>                    

            <div class="col-md-12 col-sm-12">
                 <div class="footer-bottom">
                      <div class="col-md-6 col-sm-5">
                           <div class="copyright-text"> 
                                <p>Copyright &copy; 2018 Sua empresa</p>
                           </div>
                      </div>
                      <div class="col-md-6 col-sm-7">
                           <div class="phone-contact"> 
                                <!-- <p>Call us <span>(+66) 010-020-0340</span></p> -->
                           </div>
                           <ul class="social-icon">
                                <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                           </ul>
                      </div>
                 </div>
            </div>
            
       </div>
  </div>
</footer>
