.lista{
    width: auto;
    font-size: 0.813rem;
    background-color: rgba(0, 0, 0, 0.03) !important;
    display: flex;

}


img{
    border-radius: 20px;
    width: 15em;
    margin: 1.5em;

}

.conteudo{
    margin: 1.5em;
}