
<div>

  <div class="lista" routerLink="/perfil" >
    <div>
      <img class="img" src="assets/images/faces/face-2.jpg" alt="..." />
    </div>

    <div class="conteudo">
      <h4 class="title">Carolina Cardoso</h4>
      <p>Nutricionista - São Paulo </p>
      <p>Centro, Paraíso, Consolação e Bela Vista</p>
  </div>
</div>
</div>
<div>
<!-- 
  Apagar apos gravar o video -->

    <div class="lista" routerLink="/perfil" >
      <div>
        <img class="img" src="assets/images/faces/face-3.jpg" alt="..." />
      </div>
  
      <div class="conteudo">
        <h4 class="title">David Cruz</h4>
        <p>Personal Trainer - São Paulo</p>
        <p>Itaim Bibi, Planalto Paulista e Vila Mariana</p>
    </div>
  </div>
  </div>
  <div>

      <div class="lista" routerLink="/perfil" >
        <div>
          <img class="img" src="assets/images/faces/face-4.jpg" alt="..." />
        </div>
    
        <div class="conteudo">
          <h4 class="title">Hebert Sousa</h4>
          <p>Instrutor de Yoga</p>
          <p>Santo Amaro, Moema, Broklin e Panamby</p>
      </div>
    </div>
    </div>