<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-user">
        <div class="content text-center">
          <div class="author">
            <img class="avatar border-white" src="assets/images/faces/face-2.jpg" alt="..." />
            <h4 class="title">Chet Faker
              <br />
              <a href="#">
                <small>@chetfaker</small>
              </a>
            </h4>
          </div>
          <p class="description text-center">
            "I like the way you work it
            <br> No diggity
            <br> I wanna bag it up"
          </p>
        </div>
        <hr>
        <div class="text-center">
          <div class="row">
            <div class="col-md-4">
              <h5>12
                <br />
                <small>Files</small>
              </h5>
            </div>
            <div class="col-md-4">
              <h5>2GB
                <br />
                <small>Used</small>
              </h5>
            </div>
            <div class="col-md-4">
              <h5>80,00
                <br />
                <small>Valor/aula</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
