<app-navbar></app-navbar>
<div id="perfil">
 <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-lg-4">
          <!-- <div class="card card-user" *ngFor = "let perfil of perfis"> -->
          <div class="card card-user">
            <div class="content text-center">
                <img class="avatar border-white" src="assets/images/faces/face-2.jpg" alt="..." />
                <h4 class="title">Carolina Cardoso
                  <br />
                  <p>Nutricionista Esportiva</p>
                </h4>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="col-lg-8">
            <div>
              <p class="description text-center">
                  Possuo um amplo background em Nutrição e Atividades Físicas, 
                  formada em Nutrição e Pós Graduado em Fisiologia do Exercício e 
                  pela FMU.
                  Trabalho como nutricionista esportivo em São Paulo, com esportes 
                  de alto rendimento e clínica nutricional. 
              </p>
            </div>
          </div>
      </div>
      </div>
    </div>
    <hr>
  </div>
  

  <!-- Dados Pessoais -->
  <div class="container">
    <div class="card">
      <div class="header">
        <h4 class="title">Dados Pessoais</h4>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label>Profissão</label>
                <p>Nutricionista</p>
              </div>
            </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Local de atencimento</label>
            <p>Centro, Paraíso, Consolação 
              <br> e Bela Vista</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Disponibilidade</label>
            <p>segunda-feira a sexta-feira
              <br> manhã e tarde
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Valor</label>
            <p>R$ 150,00</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Telefone Celular</label>
            <p>11 99999-9999</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Telefone Fixo</label>
            <p>11 5555-5555</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <button (click)="inserir()" type="submit" class="btn btn-info btn-fill btn-wd">Agende Agora</button>
    </div>
  </div>
</div> 

