<section id="sobre" class="about">
  <div class="container">
      <div class="row">
          <div class="main_about_area">
              <div class="features_area">
                  <div class="col-sm-3">
                      <div class="single_features">
                          <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                          <h2>Resources</h2>
                          <p>Easily manage your inspiration and work-in-progress by dragging 
                              images into projects and sharable client groups. 
                              Easily manage your inspiration and work-in-progress </p>
                          <a href="">Explore more →</a>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="single_features">
                          <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                          <h2>Resources</h2>
                          <p>Easily manage your inspiration and work-in-progress by dragging 
                              images into projects and sharable client groups. 
                              Easily manage your inspiration and work-in-progress </p>
                          <a href="">Browse training →</a>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="single_features">
                          <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                          <h2>Resources</h2>
                          <p>Easily manage your inspiration and work-in-progress by dragging 
                              images into projects and sharable client groups. 
                              Easily manage your inspiration and work-in-progress </p>
                          <a href="">Connect now →</a>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="single_features">
                          <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                          <h2>Resources</h2>
                          <p>Easily manage your inspiration and work-in-progress by dragging 
                              images into projects and sharable client groups. 
                              Easily manage your inspiration and work-in-progress </p>
                          <a href="">Start now →</a>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>