<section id="sobre" class="about">
    <div class="container">
        <div class="row">
            <div class="main_about_area">
                <div class="features_area">
                    <div class="col-sm-3">
                        <div class="single_features">
                            <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                            <img src="assets/icons/search.png" alt="">
                            <h2>Busque Profissionais</h2>
                            <p>Encontre profissionais como: personais trainers, nutricionistas, nutrologos,
                                aulas de yoga, lutas, coaching próximos de você. </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_features">
                            <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                            <img src="assets/icons/check.png" alt="">
                            <h2>Receba Orçamentos</h2>
                            <p>Avalie o perfil de profissionais próximos a você, veja o que estão dizendo
                                sobre o trabalho dele. </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_features">
                            <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                            <img src="assets/icons/calendar.png" alt="">                            
                            <h2>Agende seu horário</h2>
                            <br>
                            <p>Verifique a disponibilidades dos profissionais e agende o melhor horário
                                para que você alcance seus objetivos. </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single_features">
                            <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                            <img src="assets/icons/success.png" alt="">                           
                            <h2>Alcance resultados</h2>
                            <br>
                            <p>Tire o projeto de ser mais saudável do papel e melhore seu estilo de vida 
                            e bem estar. </p>
                            <!-- <a href="javascript:scrollToTop();" class="button button--green button--hover-dark" style="padding: .8rem 1rem; font-weight: 600; border: none;">
                                Comece agora</a> -->
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
  
        