

<!-- =========================
    TESTIMONIAL SECTION   
============================== -->
<section id="review" class="parallax-section">
	<div class="container">
		<div class="row">

	
			<!-- Testimonial Owl Carousel section
			================================================== -->
			<div id="owl-testimonial" class="owl-carousel">

				<div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
					<i class="fa fa-quote-left"></i>
					<h3> Tenho a vida muito corrida, foi ótimo poder encontrar profissionais perto do trabalho e muito bem recomendados. Amei a plataforma</h3>
					<h4>Camila ( Administradora de Empresa )</h4>
				</div>

				<div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
					<i class="fa fa-quote-left"></i>
					<h3>Sou nutricionista! Através da plataforma do Easy Health aumentei o meu numero de paciêntes e consigo divulgar melhor meu trabalho.</h3>
					<h4>Leandro Veronez ( Nutricionista )</h4>
				</div>
				
			</div>

		</div>
	</div>
</section>
