<!-- =========================
    PROFESSIONAL SECTION   
============================== -->
<section id="profissionais" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12 wow bounceIn">
				<div class="section-title">
					<h2>Profissionais</h2>
				<br>
				</div>
			</div>

			<!-- Professional Carousel section
			================================================== -->
			<div id="owl-speakers" class="owl-carousel">

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="assets/images/speakers-img1.jpg" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Larissa Lopes</h3>
								<h6>Nutricionista</h6>
							</div>
					</div>
				</div>

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
					<div class="speakers-wrapper">
						<img src="assets/images/speakers-img2.jpg" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>David Cruz</h3>
								<h6>Personal Trainer</h6>
							</div>
					</div>
				</div>

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="assets/images/speakers-img3.jpg" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Luisa Lima</h3>
								<h6>Professora de Yoga</h6>
							</div>
					</div>
				</div>
				
				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
					<div class="speakers-wrapper">
						<img src="assets/images/speakers-img4.jpg" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Carlos Fonseca</h3>
								<h6>Nutrólogo</h6>
							</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<br>
	<p>Você encontra um profissional próximo a você e desfruta de uma ótima experieência. </p>
	<p>E profissionais tem uma plataforma rápida e segura para divulgar suas especialidades e aumentar sua carteira de clientes.
	</p>
<br>
	<div>
		<a routerLink="/profissional" class="btn section-btn smoothScroll">Cadastre-se!</a>
	</div>
	
</section>
