<!-- =========================
    PROFESSIONAL SECTION   
============================== -->
<section id="profissionais" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12 wow bounceIn">
				<div class="section-title">
					<h2>Por quê nossos teste?</h2>
				<br>
				</div>
			</div>

			<!-- Professional Carousel section
			================================================== -->
			<div id="owl-speakers" class="owl-carousel">

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="assets/images/job.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Reconheça seus pontos fortes</h3>
								<h6>Lorem ipsum vel adipiscing amet in dui himenaeos nec, pellentesque eu metus eget dictumst rutrum ultrices, rutrum velit bibendum himenaeos et vel pretium. bibendum purus taciti maecenas pellentesque ultrices ad ligula fames venenatis suspendisse, odio eleifend consectetur nunc risus enim per suscipit placerat.</h6>
							</div>
					</div>
				</div>

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="assets/images/job.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Reconheça seus pontos fortes</h3>
								<h6>Lorem ipsum vel adipiscing amet in dui himenaeos nec, pellentesque eu metus eget dictumst rutrum ultrices, rutrum velit bibendum himenaeos et vel pretium. bibendum purus taciti maecenas pellentesque ultrices ad ligula fames venenatis suspendisse, odio eleifend consectetur nunc risus enim per suscipit placerat.</h6>
							</div>
					</div>
				</div>

				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="assets/images/job.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Reconheça seus pontos fortes</h3>
								<h6>Lorem ipsum vel adipiscing amet in dui himenaeos nec, pellentesque eu metus eget dictumst rutrum ultrices, rutrum velit bibendum himenaeos et vel pretium. bibendum purus taciti maecenas pellentesque ultrices ad ligula fames venenatis suspendisse, odio eleifend consectetur nunc risus enim per suscipit placerat.</h6>
							</div>
					</div>
				</div>
				
				<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
					<div class="speakers-wrapper">
						<img src="assets/images/job.png" class="img-responsive" alt="speakers">
							<div class="speakers-thumb">
								<h3>Reconheça seus pontos fortes</h3>
								<h6>Lorem ipsum vel adipiscing amet in dui himenaeos nec, pellentesque eu metus eget dictumst rutrum ultrices, rutrum velit bibendum himenaeos et vel pretium. bibendum purus taciti maecenas pellentesque ultrices ad ligula fames venenatis suspendisse, odio eleifend consectetur nunc risus enim per suscipit placerat.</h6>
							</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<br>
	<p> </p>
	<p></p>
<br>
	<div>
		<a routerLink="/profissional" class="btn section-btn smoothScroll">Cadastre-se!</a>
	</div>
	
</section>
