<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="home-info content text-center">
              <h1>Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável</h1>
            </div>
        </div>
        
      <div class="col-md-6">
          <div class="avatar">
              <img src="assets/images/speakers-img4.jpg"  alt="speakers">
          </div> 
        <div class="home-info content text-center">
          <h4>Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável
              Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável
              Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável
              Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável
              Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável
              Nós te ajudamos a encontrar bons profissionais para uma vida mais saudável
          </h4>
        </div>
      </div>

      <div id="busca">
        <div class="container col-md-6 formulario">
          <hr>
          <h3 class="text-center">Cadastre-se</h3>
          <form>
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" class="form-control" id="name" required>
            </div>

            <div class="form-group">
              <label for="alterEgo">E-mail</label>
              <input type="text" class="form-control" id="alterEgo">
            </div>
            <div class="form-group">
                <label for="alterEgo">Confirma E-mail</label>
                <input type="text" class="form-control" id="alterEgo">
              </div>
              
            <div class="sociais">
                <button type="submit" class="btn btn-success">Cadastrar</button>
           
              <p>Usar minha conta do Facebook</p>
              <p>Usar minha conta do Google</p>
              <p>Já sou cadastrado</p>
            </div>
          </form>
        </div>
      </div>

    </div>

</div>
</section>